
<form [formGroup]="widgetForm" (ngSubmit)="submitForm()" *ngIf="widgetForm" novalidate>
  <mat-card>

    <mat-card-title>Add Widget</mat-card-title>

    <mat-card-content>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="">

        <mat-error *ngIf="widgetForm.get('name').hasError('required')">Required</mat-error>
        <mat-error *ngIf="widgetForm.get('name').hasError('minlength')">Too short. 
            Required {{widgetForm.get('name').errors.minlength.requiredLength}} 
            actual: {{widgetForm.get('name').errors.minlength.actualLength}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Color</mat-label>
        <mat-select formControlName="color">
          <!-- <mat-option>--</mat-option> -->
          <mat-option value="blue">Blue</mat-option>
          <mat-option value="red">Red</mat-option>
          <mat-option value="green">Green</mat-option>
        </mat-select>

        <mat-error *ngIf="widgetForm.get('color').hasError('required')">Required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" type="number" placeholder="ex. 123">

        <mat-error *ngIf="widgetForm.get('price').hasError('required')">Required</mat-error>
        <mat-error *ngIf="widgetForm.get('price').hasError('min')">Too small. 
            Minimum {{widgetForm.get('price').errors.min.min}} 
            actual: {{widgetForm.get('price').errors.min.actual}}
        </mat-error>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary"  [disabled]="!widgetForm.valid">ADD</button>
      <button mat-raised-button (click)="resetForm()" type="reset">RESET</button>
    </mat-card-actions>

  </mat-card>

</form>